<%#= render :partial => 'admin/shared/configuration_menu' %>

<h1>Изменить занятие</h1>
<% form_for([:event, @event], :url => collection_url, :html => { :multipart => true }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => 'admin/shared/edit_resource_links' %>
<% end %>
